[Unit]
Description=Robodom
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/pi/workspace_head/robodom.py
Restart=always

[Install]
WantedBy=multi-user.target
